@charset "UTF-8";

body {
    background-color: rgb(192, 203, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color:darkblue;
    background-color: lightblue;
}

h2 {
    color: red;
}

p {
    text-align: justify;
}