@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header > section {
    display: grid;
    grid-template: 100px 50px / auto;
    place-content: center;
    place-items: center;
    background-color: lightcyan;
}

main > section {
    display: grid;
    grid-template: 250px / 2fr 1fr;
}

main > section > article:nth-of-type(1) {
    background-color: lightblue;
    grid-area: 1 / 1 / 6 / 2;
}

main > section > article:nth-of-type(2) {
    background-color: lightskyblue;
    grid-area: 1 / 2 / -1 / 3;
}

main > section > article {
    display: grid;
    place-content: center;
}

footer section {
    display: grid;
    grid-template: 50px / auto;
    place-content: center;
    place-items: center;
    background-color: lightsteelblue;
}